{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
    <h1>
        About Green Groceries
    </h1>

    <section>
        <h2>About IMDBrainrot</h2>
        <p>
            Welcome to IMDBrainrot, your premier destination for exploring the quirky, the unusual, and the downright bizarre in cinema. Born out of a passion for movies that entertain, challenge, and sometimes confound, IMDBrainrot offers a one-of-a-kind platform dedicated to films with that special twist—a brain-rot score that measures just how mind-bending each movie is.
        </p>
    </section>

    <section>
        <h2>Our Mission</h2>
        <p>
            At IMDBrainrot, we believe that every movie holds value, 
            whether it's a blockbuster hit or an obscure indie film. 
            Our mission is to shine a light on those movies that make you think, laugh, and perhaps scratch your head in 
            puzzlement. From surreal comedies to abstract dramas, our catalog is curated 
            to include films that defy conventional storytelling.
        </p>
    </section>

    <section>
        <h2>What we offer?</h2>
        <p>
            IMDBrainrot isn't just a movie database—it's a community for like-minded enthusiasts who appreciate films off the beaten path. Here's what makes our platform stand out:

            Extensive Filter Options: Dive deep into our collection with custom filters that help you find movies based on genre, leading actors, and, of course, the unique Brain-rot score—from mildly muddling to extreme cerebellum chaos.
            
            User Reviews: Get insights from other movie buffs and share your own experiences. Each review section is an open forum for discussion about the film's impact, meaning, and brain-rot effect.
            
            Expert Insights: Our team regularly posts articles, interviews, and analyses that delve into the theory and craft behind some of the most puzzling films ever made.
            
            Community Events: Join us for online watch parties, Q&A sessions with filmmakers, and annual awards for the best (and brain-rottiest) films as voted by our community.
        </p>
    </section>

    <section>
        <h2>Join Our Community</h2>
        <p>
            Whether you're a film student, a cinephile, or just someone curious about different cinematic experiences, IMDBrainrot welcomes you. Explore new dimensions of film with us, discover hidden gems, and connect with others who share your enthusiasm for movies that are anything but ordinary.

            Dare to watch differently? Join IMDBrainrot today and start your journey through the wonderful world of films that challenge the mind and stir the soul.
        </p>
    </section>
{% endblock %}